In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/Cayan-Portela/ceub/main/dados/insurance_treino.csv', sep = ';')

In [5]:
data

     age     sex     bmi  children smoker     region      charges
0     34  female   23,56         0     no  northeast    4992,3764
1     45  female    33,1         0     no  southwest     7345,084
2     23    male    32,7         3     no  southwest      3591,48
3     38  female   19,95         2     no  northeast    7133,9025
4     32  female    29,8         2     no  southwest     5152,134
..   ...     ...     ...       ...    ...        ...          ...
995   49  female    21,3         1     no  southwest      9182,17
996   25  female  34,485         0     no  northwest   3021,80915
997   18  female   38,17         0     no  southeast    1631,6683
998   28    male   31,68         0    yes  southeast   34672,1472
999   61  female   33,33         4     no  southeast  36580,28216

[1000 rows x 7 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1000 non-null   int64
 1   sex       1000 non-null   object
 2   bmi       1000 non-null   object
 3   children  1000 non-null   int64
 4   smoker    1000 non-null   object
 5   region    1000 non-null   object
 6   charges   1000 non-null   object
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [7]:
data['bmi'] = data['bmi'].str.replace(',', '.').astype(float)
data['charges'] = data['charges'].str.replace(',', '.').astype(float)
data_encoded = pd.get_dummies(data, columns=['sex', 'smoker', 'region'], drop_first=True)

In [17]:
import numpy as np

# Função para calcular o gradiente
def gradient(X, y, beta):
    n = len(y)
    XtX = np.dot(X.T, X)
    Xty = np.dot(X.T, y)
    grad = 2 * np.dot(XtX, beta) - 2 * Xty
    return grad

# Função para atualizar os parâmetros beta usando Gradiente Descendente
def update_beta(X, y, beta, learning_rate):
    grad = gradient(X, y, beta)
    new_beta = beta - learning_rate * grad
    return new_beta

# Função de Gradiente Descendente
def gradient_descent(X, y, initial_beta, learning_rate, iterations):
    beta = initial_beta
    for i in range(iterations):
        beta = update_beta(X, y, beta, learning_rate)
    return beta

# Normalização das features
def normalize_features(X):
    mean = np.mean(X, axis=0)
    std = np.std(X, axis=0)
    X_normalized = (X - mean) / std
    return X_normalized

# Selecionando as colunas relevantes
selected_columns = ['age', 'sex_male', 'children', 'smoker_yes']
X = data_encoded[selected_columns].values
y = data_encoded['charges'].values

# Normalizando as features
X_normalized = normalize_features(X)

# Definindo parâmetros
initial_beta = np.zeros(X_normalized.shape[1])
learning_rate = 0.001
iterations = 1000

# Executando o Gradiente Descendente
optimal_beta = gradient_descent(X_normalized, y, initial_beta, learning_rate, iterations)
print("Valores otimizados de beta:", optimal_beta)

Valores otimizados de beta: [ 9.27413689e+77 -1.43041103e+78  9.31558349e+76 -1.50217346e+78]